.ourCoffee .title {
  margin-top: 100px;
  font-size: 5rem;
  color: #0c504c;
}

.ourCoffee .desc {
  margin: 20px 0 70px;
  color: #467a77;
}

.ourCoffee .list-coffee {
  display: flex;
}

.list-coffee .head {
  display: flex;
  flex-direction: column;
}

.list-coffee .thumb {
  width: 150px;
  padding: 12px 37px;
  margin: 5px;
  object-fit: cover;
  /* transition: all 0.3s ease; */
}

.active {
  background: #15807a;
  border-radius: 8px;
}

.list-coffee .body {
}

.list-coffee .body-item {
  display: none;
  padding: 50px;
  /* transition: all 0.3s ease; */
}

.list-coffee .body-item .sub-title {
  font-size: 3.5rem;
}

.list-coffee .body-item .sub-desc {
  margin-top: 20px;
  font-size: 1.7rem;
  color: #484848;
}

.body-item .col-50 {
  width: 50%;
}

.body-item.action-item {
  display: flex;
  background: #efede6;
  margin-left: 20px;
  height: 100%;
  align-items: center;
  border-radius: 8px;
}
