.ourCoffee .title {
  margin-top: 100px;
  font-size: 5rem;
  color: #0c504c;
}

.ourCoffee .desc {
  margin: 20px 0 70px;
  color: #467a77;
}

.ourCoffee .list-coffee {
  display: flex;
  border: 10px solid #0c504c;
  padding: 20px;
}

.list-coffee .head {
  display: flex;
  flex-direction: column;
}

.list-coffee .thumb {
  width: 150px;
  padding: 12px 37px;
  margin: 5px;
  object-fit: cover;
  /* transition: all 0.3s ease; */
}

.active {
  background: #15807a;
  border-radius: 8px;
}

.list-coffee .body-item {
  display: none;
  padding: 50px;
  /* transition: all 0.3s ease; */
}

.list-coffee .body-item .sub-title {
  font-size: 3.5rem;
}

.list-coffee .body-item .sub-desc {
  margin-top: 20px;
  font-size: 1.7rem;
  color: #484848;
}

.body-item .col-50 {
  width: 50%;
}

.body-item.action-item {
  display: flex;
  background: #efede6;
  margin-left: 20px;
  height: 100%;
  align-items: center;
  border-radius: 8px;
}

.location-inCoffee {
  margin-top: 100px;
  background: #fcdad1;
  padding: 80px 0;
}

.location-inCoffee .title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 4.5rem;
}

.location-inCoffee .desc1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
}

.location-inCoffee .list1 {
  display: flex;
  gap: 20px;
}

.list1 .item-coffee {
  width: calc(100% / 3);
}

.list1 .thumbs {
  display: block;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.list1 .body {
  background: #fff;
  padding: 15px;
  color: #6c8e8b;
}

.list1 .sub-title {
  font-size: 2.6rem;
}

.list1 .desc {
  padding: 15px 0;
  line-height: 1.3;
}

.list1 .icon {
  margin-bottom: 7px;
}

.list1 .icon:hover {
  cursor: pointer;
}

.list .icon i {
  margin-right: 10px;
}
