* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fjalla One", sans-serif;
}
/*=========== common ==========*/
.container {
  width: 1114px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  display: inline-block;
  background: #f9744e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #c05031e0;
  position: relative;
  z-index: 1;
}

/*=========== header ==========*/

.header .info-shop {
  font-size: 1.1rem;
  color: #fff;
  background-color: #1b504c;
  padding: 7px 0;
  letter-spacing: 1px;
}

.header .my-info-shop {
  display: flex;
}

.header .my-info-shop i {
  margin-right: 4px;
}

.header .tel {
  margin-left: auto;
  margin-right: 15px;
}
/* navbar */

.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 1.7rem;
}

.navbar .container {
  display: flex;
  align-items: center;
  padding: 5px 0 3px;
}

.navbar .logo {
  display: inline-block;
  width: 100px;
}

.navbar .logo img {
  width: 100%;
}

.navbar ul {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: #15807a;
}

.navbar .carts {
  margin-left: 10px;
}
/* banner video */
.banner-video {
  position: relative;
}

.banner-video video {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.banner-video .info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.banner-video .title {
  font-size: 7rem;
}
.banner-video .desc {
  margin-top: 20px;
  font-size: 2rem;
  color: #ccc;
}

.products {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 15px;
}

.box {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background: #1b504c;
  /* background: #fff; */
  height: 250px;
  width: 100%;
}

.products .container {
  display: flex;
  gap: 70px;
  background: #15807a;
  border-radius: 10px;
  padding: 10px;
}

.products .item {
  width: calc(100% / 4);
  background: #fff;
  padding: 5px 15px;
  border-radius: 6px;
}

.item img {
  width: 100%;
}

.item .sub-title {
  text-align: center;
  font-size: 1.7rem;
}

.item .body-info {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* locations */

.locations {
  /* margin-top: 250px 0 0; */
  padding: 100px 0 70px;
  background: #1b504c;
  color: #fff;
}

.locations .info .title {
  font-size: 4rem;
}

.locations .desc {
  margin: 10px 0 10px;
  color: #ccc;
}

.locations a {
  color: #f9744e;
  transition: all 0.2s ease;
}

.locations a:hover {
  color: #fc977a;
}

.locations .list-locations {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}

.locations .locaItem {
  width: calc(100% / 3);
}

.locaItem .body {
  padding-left: 20px;
}

.locaItem .sub-title {
  font-size: 2.3rem;
  margin-top: 7px;
}

.locaItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
/* list đồ uống */

.our-coffee {
  padding: 70px 0;
}

.our-coffee .container {
  background: #fcdad1;
  border-radius: 15px;
  padding: 50px;
}

.our-coffee .head {
  text-align: center;
}

.our-coffee .title {
  font-size: 4rem;
  margin-bottom: 10px;
}

.our-coffee .desc {
  color: #6c6c6c;
}

.our-coffee .list-drinks {
  padding: 40px;
  display: flex;
  gap: 40px;
}

.list-drinks .item {
  width: calc(100% / 4);
  text-align: center;
}

.list-drinks .item .sub-desc {
  margin-top: 7px;
  font-size: 2.2rem;
}

.our-coffee .action {
  margin-top: 20px;
  text-align: center;
}

.our-coffee .btn {
  background: #1b504c;
}

.our-coffee .btn:hover {
  opacity: 0.8;
}

.subscription {
  /* position: relative; */
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription .item {
  display: flex;
}

.subscription .thumb {
  width: 100%;
  /* position: absolute; */
}

.subscription .col-50 {
  width: 500px;
}

/* banner */
.banner-coffee {
  padding: 10px;
  background: #f9744e;
  color: #fff;
}

.banner-coffee .container {
  display: flex;
}

.banner-coffee .info {
  padding: 100px;
}

.banner-coffee .title {
  font-size: 4rem;
  line-height: 1.2;
}

.banner-coffee .desc {
  margin-top: 30px;
  font-size: 1.6rem;
  color: #ededed;
}

.banner-coffee .btn {
  margin-top: 40px;
  padding: 15px 30px;
  min-width: 300px;
  background: #15807a;
  text-align: center;
}

.banner-coffee .btn:hover {
  opacity: 0.8;
}

/* footer */

.footer {
  padding: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-around;
}

.footer .sub-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.footer p {
  margin-bottom: 6px;
}

.my-info i {
  margin-right: 5px;
}

.footer .social .icon {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.social .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #15807a;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.social .icon i:hover {
  opacity: 0.8;
}

.me p {
  color: #f9744e;
}
